{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<link
  href="/assets/css/screen.css"
  type="text/css"
  rel="stylesheet"
  media="screen"
/>
<link
  href="/assets/css/print.css"
  type="text/css"
  rel="stylesheet"
  media="print"
/>
<div id="content">
{{ content }}
</div>
