{% include base_path %}

<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    {{ site.data.ui-text[site.locale].share_on_label | default: "Share on: " }}
  {% endif %}

  <a href="https://twitter.com/intent/tweet?text={{ base_path }}{{ page.url }}" class="btn btn--twitter" title="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ base_path }}{{ page.url }}" class="btn btn--facebook" title="Facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ base_path }}{{ page.url }}" class="btn btn--linkedin" title="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
</section>
